{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Login{% endblock %}

{% block navbarTitle %}{% endblock %}

{% block barContent %}
<div class="container col-sm-4">
    <h1 id="startHeader">Ox4S Login</h1>
</div>
{% endblock %}

{% block viewContent %}
<div class="mt-5 container col-sm-4 position-absolute top-50 start-50 translate-middle">
        <h1 class="border-bottom border-dark border-2">
            Ox4S Login
        </h1>
        <div class="d-grid gap-3">
            <form action='{{ formAction }}' method='{{ formMethod }}'>
                {% for field in formFields %}
                    <div class="mb-3">
                        <label>{{ field.name }}</label>
                        <input type="text" name="{{ field.name }}" value="{{ field.input }}" class="form-control{{ field.isValidStr }}"/>
                        <div class="invalid-feedback">{{ field.feedbackMsg }}</div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">{{ buttonContent }}</button>
            </form>
        </div>
</div>
{% endblock %}